*{
    margin: 0;
    padding: 0;
}
.titulo{
    text-align: center;
}

.imgProductos{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}
.modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    
    
}



.imgCarrito{
    width: 150px;
    height: 150px;
    padding: 20px;
    object-fit: contain;
    margin-top: 1rem;  
}

.card{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBTN{
    color: black;
    background-color:beige;
}
.colorBTN:hover{
    background-color:aquamarine;
    color:black
}
.colorBotonC{
    background-color: aquamarine;
    color: black;
}
.colorBTNC{
    background-color: blueviolet;
    color: black;
}
.botonSumaResta{
    width: 28px;
    border-radius: 28px;
}
.botonFooter{
    display: flex;
    justify-content: space-around;
    align-items: end;
    
}
.total{
    font-size: 25pt;
}